*{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    letter-spacing: 2px;
}

.grid-box{
height: 200px;
width: 200px;
border: 3px;
border-radius: 20px;
display: grid;
grid-template-columns: 1fr;
grid-template-rows: 8fr 2fr;
grid-auto-flow: column;
grid-auto-columns: 350px;
grid-auto-rows: 250px;


}
.grid {
    display: grid;
    grid-template-columns: repeat(5, 160px);
grid-template-rows: 300px 300px;
justify-content: space-around;
}
.grid1 {
    background-color: aquamarine;
    border-radius: 20px 20px 0 0;
}
.grid2 {
    background-color: whitesmoke;
    color:black;
    text-align: center;
    border-radius: 0 0 20px 20px;
    padding-top: 10px;

}

.img1 {
max-width: 200px;
max-height: 200px;
object-fit: contain;
}

@media screen and (max-width: 1024px)
{
    .grid{
        width: 33.33%;
    }
}    
@media screen and (max-width:768px){
    .grid{
        width: 50%;
        grid-template-rows: repeat(3,200px);
        column-gap: 50px;
    }
}
@media screen and (max-width:414px) {
    .grid{
        width: 100%;
        grid-template-columns: 200px;
    }
}
